btfm_infer/checkpoints/*
btfm_infer/logs/*
btfm_preprocessing/__pycache__
btfm_preprocessing/core
btfm_preprocessing/s1_commands_tile.txt
btfm_preprocessing/s1_zips_list.txt
btfm_preprocessing/tile_list.txt
btfm_preprocessing/sanity_check.py
btfm_preprocessing/temp.py
btfm_infer/src/tile_lists
__pycache__
rgb_visualization.png
my_data
*.log
*.json
tessera_data_preprocessing/d_pixel_processing_logs
tessera_data_preprocessing/_batch_submit.sh
continuous_*.sh
tessera_data_preprocessing/*.png
tessera_data_preprocessing/tiff_shp_analyzer.py
tessera_data_preprocessing/sanity_check.py
tessera_data_preprocessing/downsample_tiff.py
tessera_preprocessing/d_pixel_processing_logs
tessera_preprocessing/_batch_submit.sh
tessera_preprocessing/downsample_tiff.py
tessera_preprocessing/*.png
tessera_preprocessing/tiff_shp_analyzer.py
timeseries/
time_series/
shapefiles/
tessera_preprocessing/logs/
temp/
.vscode